/**
* Main System GUI stylesheet - Modernizr style
* 
* CSS versions 3
*
* @category	Stylesheet
* @package	AIRS
* @author	Alessandro Gubitosi <gubi.ale@gotanotherway.com>
* @link			http://airs.inran.it/index.php
*
* @SLM_is_core	true
* @SLM_status	ok
*/

.va-box {
	background-color: rgba(0, 0, 0, 0.63) !important;
	color: #fff !important;
	box-shadow: 2px 2px 3px #999;
	border-radius: 3px !important;
	border: #999 1px solid !important;
	padding: 10px 15px !important;
}
.va-arrow-box {
	display: none !important;
	border-left: 7.5px solid transparent !important;
	border-right: 7.5px solid transparent !important;
	border-bottom: 7.5px solid rgba(255, 255, 255, 0.63) !important;
}
.va-arrow {
	border-left: 7.5px solid transparent !important;
	border-right: 7.5px solid transparent !important;
	border-bottom: 7.5px solid rgba(255, 255, 255, 0.63) !important;
	z-index: 3000 !important;
}
.form-ui-invalid, .invalid {
	-moz-box-shadow: 0 0 4.5px red !important;
	-webkit-box-shadow: 0 0 4.5px red !important;
	box-shadow: 0 0 4.5px red !important;
}

iframe.map, div.map {
	width: 100%;
	height: 100%;
	border: #666 3px solid;
	background: rgba(240, 240, 240, 0.25) url(common/media/img/loader.gif) center center no-repeat !important;
	margin-top: -16px;
}
iframe.map a, div.map a {
	background-image: none !important;
	padding-right: 0 !important;
}