/**
* Main System GUI stylesheet - paragraph styles
* 
* CSS versions 3
*
* @category	Stylesheet
* @package	AIRS
* @author	Alessandro Gubitosi <gubi.ale@gotanotherway.com>
* @link			http://airs.inran.it/index.php
*
* @SLM_is_core	true
* @SLM_status	ok
*/

p.indication {
	color: #999;
	font-style: italic;
	font-size: 0.9em;
	text-indent: 0;
	text-align: center;
	margin: 2px 0;
}
p.time {
	background: url("../../media/img/clock_16_666.png") 6px center no-repeat;
}
p.filter {
	background: url("../../media/img/filter_16_666.png") 6px center no-repeat;
}
p.activated {
	background: url("../../media/img/copy_16_666.png") 6px center no-repeat;
}
p.info {
	background: url("../../media/img/information_16_666.png") 6px center no-repeat;
	padding-left: 22px;
	color: #666;
	margin: 20px 0;
}
p.load {
	padding: 0 10px;
}
p.load:before {
	content: "Caricamento...";
}